# Python cache
__pycache__/
*.py[cod]
*$py.class

# Editable install metadata
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# figures
examples/figures/
*.png
*.jpg
*.jpeg
*.svg
*.eps

# Test notebook
examples/test_use.ipynb