# Python cache
__pycache__/
*.py[cod]
*$py.class
*_cache_/

# Editable install metadata
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# figures
examples/*.png
examples/*.jpg
examples/*.jpeg
examples/*.svg
examples/*.eps
examples/figures/


# Test notebook
examples/test_use.ipynb